<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.mapper.test2.Role2Mapper">
    <resultMap id="roleMap" type="role">
        <id column="id" property="id"></id>
        <result column="role_name" property="roleName"></result>
        <result column="note" property="note"></result>
    </resultMap>
    <select id="selectOne" resultMap="roleMap">
        select * from t_role where id = #{id}
    </select>
    <select id="selectAll" resultMap="roleMap">
        select * from t_role
    </select>
</mapper>